pkgbase = oans
	pkgdesc = Fast, safe filesystem deduplication for btrfs & xfs — a duperemove fork
	pkgver = 1.7.1
	pkgrel = 1
	url = https://github.com/martinus/oans
	arch = x86_64
	license = GPL-2.0-only
	makedepends = pkgconf
	depends = glib2
	depends = sqlite
	depends = xxhash
	depends = util-linux-libs
	depends = libbsd
	provides = duperemove
	conflicts = duperemove
	source = oans-1.7.1.tar.gz::https://github.com/martinus/oans/archive/refs/tags/v1.7.1.tar.gz
	sha256sums = 9f7a402206e9017619a8df2d7dabdb64567073f7d16decb0d482b4ef6bff560b

pkgname = oans
